<h1>modificar cargo</h1>

<%= simple_form_for @career do |f| %>

  <% if @career.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@career.errors.count, "Errores") %> Antes de guardar: </h2>

      <ul>
        <% @career.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>


  <%= f.input :name_career, label: "Nombre Cargo" %>
  <%= f.select :area_id, @areas %>
  <%= f.input :job_title %>
  <%= f.input :grade_title%>
  <%= f.input :duration%>
  <%= f.input :graduate_profile%>
  <%= f.input :occupational_field%>

  <%= f.button :submit %>

  <%= link_to "volver", root_path %>

<%end%>
