<h2><%= @career.name_career %></h2>
<h2><%= @career.area.name_area %></h2>
<h3><%= @career.job_title %></h3>
<h3><%= @career.grade_title %></h3>
<h3><%= @career.duration %></h3>
<h3><%= @career.graduate_profile%></h3>
<h3><%= @career.occupational_field %></h3>

<%= link_to "volver", root_path %>
<%= link_to "editar", edit_career_path(@career) %>
<%= link_to "Eliminar", career_path(@career), method: :delete, data:{ confirm: "¿Estas seguro?"}%>
