<h4>Email: <%= link_to user.email_com, user  %></h4>
<h5>Name: <%= user.name %></h5>
<h5>Last Name: <%= user.lastname %></h5>
<h5>Username:  <%= user.username %></h5>
<h5>identity_document: <%= user.identity_document %></h5>
<h5>Administrador:  <%= user.admin %></h5>
