<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">
      <%= link_to "Career", root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <li class=" dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Areas <span class="caret"></span></a>
        <ul class ="dropdown-menu" role="menu">

          <% Area.all.each do |area| %>
            <li class="<%='active' if params[:area] ==area.name_area %>" >
              <%= link_to area.name_area, careers_path(area: area.name_area) %>
            </li>
          <% end %>

          <li><%= link_to "Add Area", areas_path%></li>
        </ul>
      </li>
      <li><%= link_to "Add Career", new_career_path %></li>

    </ul>

  </div>
</nav>